# 01 Import Library

In [1]:
import pandas as pd
import numpy as np

# 02 Load Dataset

In [11]:
df_perolehan = pd.read_excel(r'C:\Users\hp\Internship\KPU Surabaya\Dataset\DPD\perolehan_suara_calon.xlsx')
df_pemilih = pd.read_excel(r'C:\Users\hp\Internship\KPU Surabaya\Dataset\DPD\pemilih_penggunaan_hak_pilih.xlsx')
df_surat = pd.read_excel(r'C:\Users\hp\Internship\KPU Surabaya\Dataset\DPD\penggunaan_surat_suara.xlsx')
df_disabilitas = pd.read_excel(r'C:\Users\hp\Internship\KPU Surabaya\Dataset\DPD\pemilih_disabilitas.xlsx')

# 03 Preprocessing

In [19]:
# Melt data pemilih (id = 'uraian')
df_pemilih_melted = df_pemilih.melt(id_vars=['Uraian'], 
                                    var_name='Kecamatan', 
                                    value_name='Jumlah')
df_pemilih_melted.rename(columns={'Uraian': 'kategori_pemilih'}, inplace=True)

# Melt data surat suara (id = 'Uraian')
df_surat_melted = df_surat.melt(id_vars=['Uraian'], 
                                var_name='Kecamatan', 
                                value_name='Jumlah')
df_surat_melted.rename(columns={'Uraian': 'kategori_surat'}, inplace=True)

# Melt data disabilitas (id = 'Uraian')
df_disabilitas_melted = df_disabilitas.melt(id_vars=['Uraian'], 
                                            var_name='Kecamatan', 
                                            value_name='Jumlah')
df_disabilitas_melted.rename(columns={'Uraian': 'kategori_disabilitas'}, inplace=True)

df_calon_only = df_perolehan.drop(columns=['Jumlah Suara Sah', 'Jumlah Suara Tidak Sah'])

In [20]:
# Tentukan kolom nama calon (yaitu semua kolom kecuali kolom tetap)
kolom_tetap = ['No', 'Kecamatan', 'Jumlah Suara Sah', 'Jumlah Suara Tidak Sah']
kolom_calon = [col for col in df_perolehan.columns if col not in kolom_tetap]

# Melt hanya kolom nama calon (jadi 'Jumlah Suara Sah' dan 'Tidak Sah' tetap utuh)
df_calon_melted = df_perolehan.melt(
    id_vars=['Kecamatan', 'Jumlah Suara Sah', 'Jumlah Suara Tidak Sah'],
    value_vars=kolom_calon,
    var_name='nama_calon',
    value_name='jumlah_suara'
)

df_calon_melted
# df_calon_melted.to_csv("calon_partai.csv", index=False)

,Kecamatan,Jumlah Suara Sah,Jumlah Suara Tidak Sah,nama_calon,jumlah_suara
0,Karang Pilang,35987,8099,AA. Ahmad Nawardi,2211
1,Wonocolo,38561,7761,AA. Ahmad Nawardi,2270
2,Rungkut,59364,11505,AA. Ahmad Nawardi,2914
3,Wonokromo,72188,14927,AA. Ahmad Nawardi,4578
4,Tegalsari,43422,10061,AA. Ahmad Nawardi,2739
...,...,...,...,...,...
398,Sukomanunggal,48679,10633,"Mohammad Trijanto, S.H., M.M., M.H.",1206
399,Asemrowo,19754,5534,"Mohammad Trijanto, S.H., M.M., M.H.",275
400,Bulak,19746,6250,"Mohammad Trijanto, S.H., M.M., M.H.",352
401,Pakal,28268,9364,"Mohammad Trijanto, S.H., M.M., M.H.",535
402,Sambikerep,31219,8271,"Mohammad Trijanto, S.H., M.M., M.H.",795

In [21]:
df_pemilih_melted.head()

                kategori_pemilih      Kecamatan  Jumlah
0  Jumlah Pemilih dalam DPT (LK)  Karang Pilang   26756
1  Jumlah Pemilih dalam DPT (PR)  Karang Pilang   28881
2    Pengguna hak pilih DPT (LK)  Karang Pilang   20183
3    Pengguna hak pilih DPT (PR)  Karang Pilang   23348
4   Pengguna hak pilih DPTb (LK)  Karang Pilang      58

In [22]:
df_surat_melted.head()

                                      kategori_surat      Kecamatan  Jumlah
0  Jumlah surat suara yang diterima, termasuk sur...  Karang Pilang   56839
1                  Jumlah surat suara yang digunakan  Karang Pilang   44086
2  Jumlah surat suara dikembalikan oleh pemilih k...  Karang Pilang      92
3  Jumlah surat suara yang tidak digunakan/tidak ...  Karang Pilang   12661
4  Jumlah surat suara yang diterima, termasuk sur...       Wonocolo   60869

In [23]:
df_disabilitas_melted

               kategori_disabilitas      Kecamatan  Jumlah
0   Jumlah pemilih disabilitas (LK)  Karang Pilang      57
1   Jumlah pemilih disabilitas (PR)  Karang Pilang      48
2   Jumlah pemilih disabilitas (LK)       Wonocolo      42
3   Jumlah pemilih disabilitas (PR)       Wonocolo      65
4   Jumlah pemilih disabilitas (LK)        Rungkut      60
..                              ...            ...     ...
57  Jumlah pemilih disabilitas (PR)          Bulak      21
58  Jumlah pemilih disabilitas (LK)          Pakal      43
59  Jumlah pemilih disabilitas (PR)          Pakal      54
60  Jumlah pemilih disabilitas (LK)     Sambikerep      35
61  Jumlah pemilih disabilitas (PR)     Sambikerep      38

[62 rows x 3 columns]